*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.main-container{
  display: grid;
  grid-template-columns: 20% 80%;
}

.profile-pic-container {
  width: 40px;
  height: 40px;
}
.profile-pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.icon{
  cursor: pointer;
}
.button{
  background-color:    #509FCE;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}